body {
    font-family: Arial, sans-serif;
    /* background-color: #f5f5f5; */
    background: url(bg.avif);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    /* background-color: #fff; */
    backdrop-filter: blur(3px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    margin: 0 0 20px;
    font-size: 24px;
    text-align: center;
    color: black;
    font-family: "poppins";
}

.form-group {
    display: flex;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
}

#addTaskButton {
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: #FCD0B8;
    color:rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
    font-family: "poppins";
}

#addTaskButton:hover {
    background-color: #f1b99b;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

.task {
    flex: 1;
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.delete-button {
    background: none;
    border: none;
    color: #dc3545;
    cursor: pointer;
}

.delete-button:hover {
    color: #c82333;
}
